<!DOCTYPE html>
<html lang="en" >
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>item</title>
</head>
<body class="sb-nav-fixed">
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--heading Area-->
<div class="container-fluid ">
    <div class="row text-center formManagement border-info">
        <!-- New Item Button-->
        <div class="col">
            <a class="btn btn-success"  href="/item/add" tabindex="1"><i class="fas fa-plus" style="font-size: 20px"></i>&nbsp;&nbsp;New</a>&nbsp;
        </div>
        <!-- List Name-->
        <div class="col">
            <h2 class="text-dark text-center">
                <strong>
                    Item List
                </strong>
            </h2>
        </div>
        <!-- Home Button-->
        <div class="col" >
            <a href="/home" id="btnHome" class="btn btn-success" >
                &nbsp;Back To Home&nbsp; </a >
        </div >
    </div>
</div>
<div class="container-fluid formBorder text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="itemListPresent"  data-th-if="${not #lists.isEmpty(items)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead class="thead-dark">
                    <tr>
                        <th> Index</th>
                        <th> Main Category</th>
                        <th> Sub Category</th>
                        <th> Item Name</th>
                        <th> ROP</th>
                        <!--<th> Type Name</th>-->
                        <th> Modify</th>
                    </tr>
                </thead>
                <tbody class="table-warning">
                    <tr  data-th-each="item, rowCount : ${items}">
                        <th  data-th-text="${rowCount.count}"></th>
                        <th  data-th-text="${item.category.mainCategory.mainCategory}"></th>
                        <th  data-th-text="${item.category.name}"></th>
                        <th  data-th-text="${item.name}"></th>
                        <th  data-th-text="${item.rop}"></th>
                      <!--  <th  data-th-text="${item.typename}"></th>-->
                        <th>
                            <a data-th-href="${'/item/' + item.id}" class="btn btn-success btn-sm"><i class="fa fa-folder-open" style="font-size: 15px"></i>&nbsp;View</a>
                            <a data-th-if="${!#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')')}" data-th-href="${'/item/edit/' + item.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                            <a data-th-if="${!#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')')}" data-th-id="${'/item/delete/' + item.id}" onclick="confirmDelete(this)" class="btn btn-danger btn-sm">
                               <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row"  data-th-if="${ #lists.isEmpty(items)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no item upto now please add item to the system using "New" button.</strong>
                </h3>
            </div>
        </div>
    </div>
</div>

<div   data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<script  data-th-replace="~{fragments/script :: scriptFragment}"></script>

<script data-th-if="${ #lists.isEmpty(items)}">
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script>
</body>
</html>
