<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<a aria-controls="hrefCollapse" aria-expanded="false" class="btn btn-primary col-12" data-toggle="collapse"
   href="#hrefCollapse">Show Purchase Order Detail's - Purchase Order Code :
    <span data-th-text="${purchaseOrderDetail.code}"></span></a>
<div class="collapse" id="hrefCollapse">
    <!--purchase order details-->
    <section data-th-replace="~{purchaseOrder/purchaseOrder-detail :: purchaseOrderDetailsFragment}"></section>
</div>
<div class="container-fluid">

</div>

<!--/* footer is */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script is included */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>