<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
    <meta charset="UTF-8" >
    <title >Production</title >
</head >
<body class="sb-nav-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid " >
    <div class="row" >
        <div class="col-4" ><a href="/ledger" >
            <button class="btn btn-secondary" type="button" >All Items In Ledger</button >
        </a ></div >
        <div class="col-4" ><a href="/ledger/production" >
            <button class="btn btn-secondary" type="button" >Production Item</button >
        </a ></div >
        <div class="col-4" ><a href="/ledger/retail" >
            <button class="btn btn-secondary" type="button" >Retail Item</button >
        </a ></div >
    </div >
</div >

</body>
</html>