<!DOCTYPE html>
<html lang="en">
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div class="container">
    <div class="container-fluid">
        <form action="/invoice" method="post" data-th-object="${invoice}">
            <!--ledgers will list-->

            <!--Payment Section-->
            <div class="row">
                <!--payment method-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label data-th-for="${paymentMethod}">Gender:</label>
                        <div class="col">
                            <div class="custom-control custom-checkbox custom-control-inline "
                                 data-th-each="paymentMethod,index : ${paymentMethods}">
                                <input class="custom-control-input gender" required
                                       data-th-name="${'paymentMethod'}"
                                       data-th-value="${paymentMethod}"
                                       data-th-id="${index.index}+${paymentMethod}" type="radio"
                                       data-th-checked="${genders==gender}"/>
                                <label class="custom-control-label"
                                       data-th-for="${index.index}+${paymentMethod}"
                                       data-th-text="${paymentMethod.paymentMethod}"> radio
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--customer list-->
            <div class="row">
                <!--Customers-->
                <div class="form-row text-right">
                    <div class="col-md-4">
                        <label class="control-label" for="customer ">Customer :</label>
                    </div>
                    <div class="col-md-8">
                        <select id="customer " data-th-field="*{customer}" class="form-control" tabindex="9"
                                required>
                            <option value="">Please select</option>
                            <option data-th-each="customer : ${customers}"
                                    data-th-text="${customer.name+'  '+customer.mobile}"
                                    data-th-value="${customer.id}">
                                Please select
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <!--button-->
            <div class="row">
                <!--Button-->
                <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                    <!--Back Button-->
                    <a class="btn btn-dark" href="/invoice" tabindex="14">
                        <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                    </a>
                    <!--Save Button-->
                    <button class="btn btn-success ml-5" tabindex="12" type="submit">
                        <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span data-th-text="${addStatus==true?'Save': 'Update'}"
                                                                                             id="submit"></span>
                    </button>
                    <!--Cancel Button-->
                    <button class="btn btn-warning ml-5" tabindex="13" type="reset">
                        <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--/* footer is */-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--/* script is included */-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>