<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <title ></title >
</head >

<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<!--button for expire date and report point view-->
<div class="row" >
  <div class="container-fluid" >
    <div id="accordianId" role="tablist" aria-multiselectable="true" >
      <div class="row" >
        <div class="card  col-6" >
          <div class="card-header" role="tab" id="section1HeaderId" >
            <a class="btn btn-block" data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId"
               aria-expanded="true"
               aria-controls="section1ContentId" >
              <h5 class="mb-0" >
                ROI Achieved Item
              </h5 >
            </a >
          </div >
          <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
            <div class="card-body" >
              <div class="col" data-th-if="${not #lists.isEmpty(ropList)}" >
                <div class="col" >
                  <table class="table table-hover table-striped" >
                    <thead >
                    <tr >
                      <th > Index</th >
                      <th > Item Name</th >
                      <th > ROP</th >
                      <th > Quantity</th >
                      <th > Price</th >
                      <th > Modify</th >
                    </tr >
                    </thead >
                    <tbody >
                    <tr data-th-each="ledger, rowCount : ${ropList}" >
                      <th data-th-text="${rowCount.count}" ></th >
                      <th data-th-text="${ledger.item.name}" ></th >
                      <th data-th-text="${ledger.item.rop}" ></th >
                      <th data-th-text="${ledger.quantity}" ></th >
                      <th data-th-text="${ledger.sellPrice}" ></th >
                      <th >
                        <a data-th-href="${'/purchaseOrder/supplier/' + ledger.goodReceivedNote.purchaseOrder.supplier.id}"
                           class="btn btn-secondary btn-sm" ><i
                              class="fa fa-folder-open" style="font-size: 15px" ></i >Purchase Order</a >
                      </th >
                    </tr >
                    </tbody >
                  </table >
                </div >
              </div >
            </div >
          </div >
        </div >
        <div class="card col-6" >
          <div class="card-header" role="tab" id="section2HeaderId" >
            <a class="btn btn-block" data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId"
               aria-expanded="true"
               aria-controls="section2ContentId" >
              <h5 class="mb-0 " >
                Expired Date Near
              </h5 >
            </a >
          </div >
          <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId" >
            <div class="card-body" >
              <div class="col" data-th-if="${not #lists.isEmpty(exList)}" >
                <table class="table table-hover table-striped" >
                  <thead >
                  <tr >
                    <th > Index</th >
                    <th > Item Name</th >
                    <th > ROP</th >
                    <th > Quantity</th >
                    <th > Price</th >
                    <th > M Date</th >
                    <th > E Date</th >
                    <th > Modify</th >
                  </tr >
                  </thead >
                  <tbody >
                  <tr data-th-each="ledger, rowCount : ${exList}" >
                    <th data-th-text="${rowCount.count}" ></th >
                    <th data-th-text="${ledger.item.name}" ></th >
                    <th data-th-text="${ledger.item.rop}" ></th >
                    <th data-th-text="${ledger.quantity}" ></th >
                    <th data-th-text="${ledger.sellPrice}" ></th >
                    <th data-th-text="${ledger.manufactureDate}" ></th >
                    <th data-th-text="${ledger.expiredDate}" ></th >
                    <th >
                      <a data-th-href="${'/purchaseOrder/supplier/' + ledger.goodReceivedNote.purchaseOrder.supplier.id}"
                         class="btn btn-secondary btn-sm" ><i
                            class="fa fa-folder-open" style="font-size: 15px" ></i >Purchase Order</a >
                    </th >
                  </tr >
                  </tbody >
                </table >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >

<div class="container-fluid " style="margin:0px 15px 50px 0px" >

  <div class="main-section" id="windowBack" >
    <div class="row" style="margin:20px 30px 30px 0px;" >
      <div class="col-md-3 align-content-center" style="margin-right: 20px; margin-left: 150px;" >
        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Item</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/item/add" class="btn btn-success stretched-link btn-lg" > <i
                    class="fas fa-download" ></i >ADD</a >
              <a href="/item" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >

        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Supplier</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/supplier/add" class="btn btn-success stretched-link btn-lg" > <i class="fas fa-download" ></i >ADD</a >
              <a href="/supplier" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >

        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Employee</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/employee/add" class="btn btn-success stretched-link btn-lg" > <i class="fas fa-download" ></i >ADD</a >
              <a href="/employee" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >
      </div >

      <div class="col-md-3 align-content-center" style="margin-right: 20px;" >
        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Category</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/category/add" class="btn btn-success stretched-link btn-lg" > <i class="fas fa-download" ></i >ADD</a >
              <a href="/category" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >


        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Purchase Order</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/supplier/add" class="btn btn-success stretched-link btn-lg" > <i class="fas fa-download" ></i >ADD</a >
              <a href="/purchaseOrder" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >

        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >User</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/user/add" class="btn btn-success stretched-link btn-lg" > <i
                    class="fas fa-download" ></i >ADD</a >
              <a href="/user" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >
      </div >

      <div class="col-md-3 align-content-center" style="margin-right: 20px;" >
        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Customer</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/customer/add" class="btn btn-success stretched-link btn-lg" > <i class="fas fa-download" ></i >ADD</a >
              <a href="/customer" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >


        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Role</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/role/add" class="btn btn-success stretched-link btn-lg" > <i
                    class="fas fa-download" ></i >ADD</a >
              <a href="/role" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >

        <div class="card card-color" >
          <div class="card" >
            <div class="card-header" >
              <h2 class="card-title text-xl-center text-danger " >Discount</h2 >
            </div >
            <div class="card-body" >
              <img src="../img/customer.jpg" style="width:100px; height: 65px;" >
            </div >
            <div class="card-footer" >
              <a href="/discountRatio/add" class="btn btn-success stretched-link btn-lg" > <i
                    class="fas fa-download" ></i >ADD</a >
              <a href="/discountRatio" class="btn btn-warning stretched-link btn-lg" ><i class="fas fa-bars" ></i >View</a >
            </div >
          </div >
        </div >
      </div >
    </div >

  </div >

</div >


<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >

<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >

